<!DOCTYPE html>
<html lang="en">
    <head>
        {% include 'layout-header.html' %}
        <link type="text/css" href="{{ base_url_theme }}css/tema2.css" rel="stylesheet">
        <link type="text/css" href="{{ base_url_theme }}css/ujian.css" rel="stylesheet">
        {% block css %}{% endblock %}
    </head>
    <body>

        {% block content %}{% endblock %}

        <br><br>
        <!--/.wrapper-->
        <div class="footer">
            <div class="container">
                <center>
                    <b class="copyright">@2023 SMK Negeri 2 Mojokerto All rights reserved.<br>
                </center>
            </div>
        </div>

        {% include 'layout-footer.html' %}
        {% block js %}{% endblock %}
    </body>
</html>
